@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;900&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  width: 100vw;
  height: 60px;
  background: #fff;
  box-shadow: 0px 2px 10px hsla(0, 0%, 0%, 0.073);
  overflow: hidden;
}
.navbar {
  display: flex;
  padding: 10px 0;
}
.navbar img {
  height: 40px;
}
.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: auto;
  padding: 0 10px;
}
.container-nav button:hover {
  outline: 0px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  transform: scale(1.075);
}
button {
  padding: 9px;
  width: 170px;
  height: 40px;
  background-color: #f34f36;
  color: #fff;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
}
.section-login {
  background: linear-gradient(
      rgba(26, 20, 43, 0.49) 0%,
      rgba(26, 20, 43, 0) 100%
    ),
    rgb(54, 118, 138);
  color: #fff;
  padding: 110px 0;
}
.container-grupo {
  display: flex;
  max-width: 1255px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  min-width: 600px;
  max-width: 900px;
}
.info h2 {
  font-size: 39px;
  font-weight: 900;
  line-height: 37px;
  letter-spacing: -1px;
}
.info h3 {
  color: #b9e6e9;
  font-size: 31px;
  line-height: 31px;
  margin-bottom: 20px;
}
.info span {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.img img {
  height: 400px;
}
.form {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  border-radius: 10px;
  margin-right: 20px;
  padding-bottom: 20px;
  width: 560px;
}
.form h5 {
  font-size: 22px;
  font-weight: 700;
  color: #322c2e;
  padding: 30px 0 20px;
  text-align: center;
  width: 300px;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input input {
  border: none;
  border-bottom: 1px solid rgba(99, 96, 96, 0.455);
  outline: none;
  padding: 6px 12px;
  font-size: 18px;
  font-weight: 300;
  color: #747474;
}
input:active {
  border-bottom: 1px solid rgb(99, 96, 96);
}
select {
  border: none;
  border-bottom: 1px solid rgba(99, 96, 96, 0.455);
  outline: none;
  padding: 6px 12px;
  font-size: 18px;
  color: #747474;
}
.form button {
  font-size: 18px;
  width: 120px;
  margin: auto;
}
.form-enviar:active {
  background-color: #13aff0;
}
.section-andres {
  line-height: 15px;
  background-color: #f3fafd;
  color: #212529;
}
.container-andres {
  margin: auto;
  padding: 50px 0;
}
.flex {
  display: flex;
  justify-content: center;
  max-width: 1255px;
  margin: auto;
}
.info-andres {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 627px;
  height: 400px;
}
.info-andres p {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.28px;
  line-height: 20px;
  text-decoration: none solid rgb(121, 121, 121);
  text-align: center;
  color: #797979;
  width: 620px;
  margin-bottom: 25px;
  min-height: auto;
  min-width: auto;
}
.info-andres strong {
  font-size: 22px;
  font-weight: 700;
  text-decoration: none solid rgb(121, 121, 121);
  color: #36768a;
}
.info-andres a {
  font-size: 18px;
  text-decoration: none;
}
.otto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 487px;
}
.otto img {
  height: 65px;
  margin-right: 13px;
}
.video-andres {
  display: flex;
  width: 627px;
  height: 400px;
  justify-content: center;
  align-items: center;
}
.video-andres img {
  width: 627px;
}
.section-poster {
  background-color: #f3fafd;
}
.container-poster {
  background-color: #fff;
  border-radius: 20px;
  width: 1155px;
  margin: auto;
  padding: 75px 50px;
}
.poster {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-poster h2 {
  font-size: 35px;
  line-height: 31px;
  color: #322c2e;
}
.img-poster span {
  color: #34768a;
}
.img-poster img {
  height: 500px;
}
.items-poster {
  padding: 10px 10px 0 75px;
}
.poster-item {
  display: flex;
  margin-bottom: 20px;
}
.poster-item img {
  width: 30px;
  margin-right: 10px;
}
.item-text h3 {
  font-size: 18px;
  color: #36768a;
}
.item-text p {
  font-size: 15px;
  color: #797979;
}
.section-soporte {
  padding-top: 25px;
  background-color: #f3fafd;
}
.container-soporte {
  width: 1340px;
  margin: auto;
}
.soporte {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 100px;
}
.soporte img {
  height: 225px;
  margin-right: 25px;
}
.soporte-texto h3 {
  margin-bottom: 25px;
}
.soporte-texto strong {
  font-size: 45px;
  line-height: 42px;
  font-weight: 900;
  color: #333333;
}
.soporte-texto span {
  font-size: 37px;
  line-height: 35px;
  font-weight: 700;
  color: #34768a;
}
.soporte-texto p {
  font-size: 20px;
  line-height: 22px;
  color: #797979;
}

.section-soporte-item {
  background-color: #f3fafd;
}
.container-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1315px;
  margin: auto;
  padding-bottom: 50px;
}
.soporte-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 418px;
}
.container-soporte-item {
  padding: 0 10px 25px;
}
.soporte-item img {
  height: 125px;
  margin-right: 15px;
}
.soporte-item h3 {
  padding-top: 35px;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  color: #333333;
}
.section-crm {
  background: linear-gradient(
      rgba(26, 20, 43, 0.49) 0%,
      rgba(26, 20, 43, 0) 100%
    ),
    rgb(54, 118, 138);
  color: #fff;
  padding: 50px 0;
}
.container-crm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1250px;
  margin: auto;
  flex-direction: column;
}
.container-crm h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  margin-bottom: 30px;
}
.container-crm span {
  color: #b9e6e9;
}
.container-crm p {
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 25px;
}
.container-crm ul {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 25px;
}
.container-crm li {
  line-height: 22px;
  text-align: center;
  list-style-position: inside;
  margin-bottom: 10px;
}
.container-crm img {
  height: 575px;
}
.container-crm button {
  font-size: 18px;
}
.container-crm button:hover {
  outline: 0px;

  text-decoration: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  transform: scale(1.075);
  background-color: rgb(255, 101, 78);
}
.section-reviews {
  padding: 50px 0;
}
.container-reviews {
  width: 1250px;
  margin: auto;
}
.container-reviews h2 {
  line-height: 35px;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.container-reviews span {
  color: #34768a;
}
.img-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-reviews img {
  height: 225px;
}
.section-login2 {
  background: linear-gradient(
      rgba(26, 20, 43, 0.49) 0%,
      rgba(26, 20, 43, 0) 100%
    ),
    rgb(54, 118, 138);
  color: #fff;
}
.container-login2 {
  display: flex;
  width: 1300px;
  padding: 50px 25px;
  margin: auto;
}
.form-login2 {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-radius: 10px;
  margin: auto;
  padding-bottom: 20px;
  width: 360px;
}
.form-login2 h5 {
  font-size: 22px;
  font-weight: 700;
  color: #322c2e;
  padding: 30px 0 20px;
  text-align: center;
  width: 360px;
}
.input-login2 {
  display: flex;
  flex-direction: column;
  width: 360px;
  gap: 10px;
}
.input-login2 input {
  border: none;
  border-bottom: 1px solid rgba(99, 96, 96, 0.455);
  outline: none;
  padding: 6px 12px;
  font-size: 18px;
  font-weight: 300;
  color: #747474;
}
input:active {
  border-bottom: 1px solid rgb(99, 96, 96);
}
select {
  border: none;
  border-bottom: 1px solid rgba(99, 96, 96, 0.455);
  outline: none;
  padding: 6px 12px;
  font-size: 18px;
  color: #747474;
}
.form-login2 button {
  font-size: 18px;
  width: 120px;
  margin: auto;
}
.form-enviar:active {
  background-color: #13aff0;
}
.img-login2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-login2 img {
  height: 375px;
}
.texto-login2 span {
  color: #b9e6e9;
}
.texto-login2 h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  width: 650px;
  margin-bottom: 25px;
}
footer {
  background-color: #322c2e;
  color: #fff;
  padding: 1px 0 20px 0;
  text-align: center;
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.columa .contacto a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: 1s;
}
.columa .contacto a:hover {
  background: #f34f36;
}
.colums {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
}
.columa {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.columa img {
  width: 200px;
}
.columb a,
.columc a {
  color: #fff;
  text-decoration: none;
}

.columb a:hover,
.columc a:hover {
  color: #f34f36;
}
.columb ul,
.columc ul {
  list-style-type: none;
}
.columb li,
.columc li {
  padding: 8px 12px;
}
.columc img {
  width: 200px;
}
.columb {
  padding: 20px 50px 0 50px;
  border-right: 1px solid #fff;
  display: inline-block;
}
.columb li {
  text-align: left;
}
.columc {
  display: inline-block;
  padding: 20px 50px 0 50px;
}
.columc li {
  text-align: left;
}
.columc h2 {
  text-align: left;
}
.textocentrado {
  text-align: left;
}
.terminos {
  display: block;
}
.final {
  display: inline-block;
  padding: 5px 20px;
}
.terminos a {
  color: white;
  font-size: 12px;
}
